<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.8/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.8/dist/cdn/beer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.23/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <title>Brook</title>

    <script>
        window.addEventListener("DOMContentLoaded", async (e) => {
            var app = {
                data() {
                    return {
                        user: {},
                        products: [],
                        password: '',
                        settings: {},
                        origin: location.origin,
                        mobile: /Android|iPhone/i.test(navigator.userAgent),
                        recaptcha_token: null,
                        ing: false,
                        readme: '',
                    };
                },
                async mounted() {
                    try {
                        await this.getsettings()
                        document.title = this.settings.site_name ? this.settings.site_name.v : ''
                        if (this.settings.reCAPTCHAKey && this.settings.reCAPTCHAKey.v) {
                            var self = this
                            var script = document.createElement('script');
                            script.onload = function () {
                                self.recaptcha_token = function () {
                                    return new Promise((resolve, reject) => {
                                        grecaptcha.ready(() => {
                                            grecaptcha.execute(this.settings.reCAPTCHAKey.v, {
                                                action: 'submit'
                                            }).then((token) => {
                                                resolve(token);
                                            }).catch(e => {
                                                reject(`${e}`)
                                            })
                                        })
                                    })
                                }
                            }
                            script.src = `https://www.recaptcha.net/recaptcha/api.js?render=${this.settings.reCAPTCHAKey.v}`;
                            document.head.appendChild(script);
                        }
                        if (localStorage.getItem("uuid")) {
                            await this.getuser();
                        }
                        await this.getproducts();
                    } catch (e) {
                        alert(`${e}`)
                    }
                    setTimeout(() => {
                        var textWrapper = document.querySelector('.ml9 .letters');
                        if (!textWrapper) return
                        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
                        anime.timeline({loop: true})
                            .add({
                                targets: '.ml9 .letter',
                                scale: [0, 1],
                                duration: 1500,
                                elasticity: 600,
                                delay: (el, i) => 45 * (i + 1)
                            }).add({
                                targets: '.ml9',
                                opacity: 0,
                                duration: 1000,
                                easing: "easeOutExpo",
                                delay: 1000
                            });
                    }, 1000)
                },
                methods: {
                    async getsettings() {
                        try {
                            var res = await fetch("/getsomesettings")
                            if (res.status != 200) {
                                throw (await res.text())
                            }
                            (await res.json()).forEach(v => {
                                this.settings[v.k] = v;
                            });
                            this.readme = marked.parse(this.settings.readme.v, {gfm: true, breaks: true})
                        } catch (e) {
                            alert(`${e}`)
                        }
                    },
                    async getuser() {
                        try {
                            var res = await fetch("/getuser", {
                                method: "POST",
                                body: JSON.stringify({uuid: localStorage.getItem("uuid")}),
                            })
                            if (res.status != 200) {
                                throw (await res.text())
                            }
                            this.user = await res.json();
                        } catch (e) {
                            alert(`${e}`)
                        }
                    },
                    async getproducts() {
                        try {
                            var res = await fetch("/getfeproducts")
                            if (res.status != 200) {
                                throw (await res.text())
                            }
                            this.products = (await res.json()).map(v => {
                                if (!this.user.id) {
                                    return v
                                }
                                var u = new URL(v.pay_url)
                                u.searchParams.set("product_id", v.id)
                                u.searchParams.set("user_id", this.user.id)
                                v.pay_url = u.toString()
                                return v
                            })
                        } catch (e) {
                            alert(`${e}`)
                        }
                    },
                    async signup() {
                        this.ing = true
                        try {
                            if (this.settings.reCAPTCHAKey && this.settings.reCAPTCHAKey.v && !this.recaptcha_token) {
                                throw 'reCAPTCHA js is loading, wait or refresh'
                            }
                            var res = await fetch("/signup?recaptcha_token=" + ((this.settings.reCAPTCHAKey && this.settings.reCAPTCHAKey.v) ? (await this.recaptcha_token()) : ''), {
                                method: "POST",
                                body: JSON.stringify(this.user),
                            })
                            if (res.status != 200) {
                                throw (await res.text())
                            }
                            this.user = await res.json();
                            localStorage.setItem("uuid", this.user.uuid);
                            await this.getproducts();
                        } catch (e) {
                            alert(`${e}`)
                        }
                        this.ing = false
                    },
                    async signin() {
                        this.ing = true
                        try {
                            if (this.settings.reCAPTCHAKey && this.settings.reCAPTCHAKey.v && !this.recaptcha_token) {
                                throw 'reCAPTCHA js is loading, wait or refresh'
                            }
                            var res = await fetch("/signin?recaptcha_token=" + ((this.settings.reCAPTCHAKey && this.settings.reCAPTCHAKey.v) ? (await this.recaptcha_token()) : ''), {
                                method: "POST",
                                body: JSON.stringify(this.user),
                            })
                            if (res.status != 200) {
                                throw (await res.text())
                            }
                            this.user = await res.json();
                            localStorage.setItem("uuid", this.user.uuid);
                            await this.getproducts();
                        } catch (e) {
                            alert(`${e}`)
                        }
                        this.ing = false
                    },
                    async updatepassword() {
                        this.ing = true
                        try {
                            var res = await fetch("/updatepassword", {
                                method: "POST",
                                body: JSON.stringify({...this.user, password: this.password}),
                            })
                            if (res.status != 200) {
                                throw (await res.text())
                            }
                        } catch (e) {
                            alert(`${e}`)
                        }
                        this.ing = false
                    },
                    signout() {
                        localStorage.setItem("uuid", "");
                        location.reload();
                    },
                },
            };
            Vue.createApp(app).mount("body");
        });
    </script>
    <style>
        .ml9 {
            position: relative;
            font-weight: 200;
            font-size: 3em;
        }

        .ml9 .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
        }

        .ml9 .letter {
            transform-origin: 50% 100%;
            display: inline-block;
            line-height: 1em;
        }
    </style>
</head>

<body style="margin:0;" class="dark">
    <header>
        <nav>
            <h5 class="max">{{settings.site_name ? settings.site_name.v : ''}}</h5>
        </nav>
    </header>
    <main v-if="!user.uuid && !mobile">
        <div class="grid no-space">
            <div class="s6" style="height: calc(100dvh - 64px);">
                <div style="height:90px;"></div>
                <div style="padding:0px 16px">
                    <h1 class="ml9">
                        <span class="text-wrapper">
                            <span class="letters">{{settings.site_description ? settings.site_description.v : ''}}</span>
                        </span>
                    </h1>
                </div>
                <div style="height:30px;"></div>
                <div style="display: flex;flex-direction:row;padding-left:10px;flex-wrap:wrap">
                    <a v-for="v in products" class="chip" style="color:white;border-color: white;font-size:12px;margin-bottom:20px;">{{v.name}}</a>
                </div>
            </div>
            <div class="s6">
                <div style="height:90px;"></div>
                <div style="display:flex;flex-direction: row;justify-content:center">
                    <article class="secondary-container" style="display:flex;flex-direction:column;align-items: center; background-color:white !important;color:black !important">
                        <h5>Signin/Signup</h5>
                        <div style="height:10px;"></div>
                        <div class="field label border">
                            <input type="text" v-model="user.username">
                            <label>Username</label>
                        </div>
                        <div class="field label border">
                            <input type="password" v-model="user.password">
                            <label>Password</label>
                        </div>
                        <div v-if="!ing" style="display:flex;flex-direction:row;justify-content:center">
                            <button @click="signup" style="background-color:black !important;color:white !important">Signup</button>
                            <div style="width:30px;"></div>
                            <button @click="signin" style="background-color:black !important;color:white !important">Signin</button>
                        </div>
                        <div v-if="ing" style="display:flex;flex-direction:row;justify-content:center">
                            <progress class="circle"></progress>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <main v-if="!user.uuid && mobile">
        <div>
            <div style="height:30px;"></div>
            <div style="padding:0px 16px;">
                <h6 class="ml9">
                    <span class="text-wrapper">
                        <span class="letters">{{settings.site_description ? settings.site_description.v : ''}}</span>
                    </span>
                </h6>
            </div>
            <div style="height:30px;"></div>
            <div style="display: flex;flex-direction:row;justify-content:center;padding:0px 10px;flex-wrap:wrap">
                <a v-for="v in products" class="chip" style="color:white;border-color: white;font-size:12px;margin-bottom:20px;">{{v.name}}</a>
            </div>
        </div>
        <div>
            <div style="height:30px;"></div>
            <div style="display:flex;flex-direction: row;justify-content:center">
                <article class="secondary-container" style="display:flex;flex-direction:column;align-items: center; background-color:white !important;color:black !important">
                    <h5>Signin/Signup</h5>
                    <div style="height:10px;"></div>
                    <div class="field label border">
                        <input type="text" v-model="user.username">
                        <label>Username</label>
                    </div>
                    <div class="field label border">
                        <input type="password" v-model="user.password">
                        <label>Password</label>
                    </div>
                    <div v-if="!ing" style="display:flex;flex-direction:row;justify-content:center">
                        <button @click="signup" style="background-color:black !important;color:white !important">Signup</button>
                        <div style="width:30px;"></div>
                        <button @click="signin" style="background-color:black !important;color:white !important">Signin</button>
                    </div>
                    <div v-if="ing" style="display:flex;flex-direction:row;justify-content:center">
                        <progress class="circle"></progress>
                    </div>
                </article>
            </div>
            <div style="height:90px;"></div>
        </div>
    </main>
    <main v-if="user.uuid" :style="'padding:0px '+(mobile?'0px':'300px')">
        <div style="height:30px;"></div>
        <div style="display: flex;flex-direction:row;justify-content:center;padding:0px 10px;flex-wrap:wrap;">
            <a v-for="v in products" style="margin-bottom:17px;" :href="v.pay_url" target="_blank"><button class="small-round border" style="color:white;"><i>shopping_bag</i><span>{{v.name}}</span></button></a>
        </div>
        <div style="height:30px;"></div>
        <div style="display:flex;flex-direction: column;align-items:center;padding:0px 16px;">
            <article class="secondary-container" style="background-color:white !important;color:black !important">
                <h5>{{user.username}}</h5>
                <div style="height:10px;"></div>
                <div>{{new Date(user.expired_at*1000).toLocaleString()}}</div>
                <div style="height:10px;"></div>
                <progress :value="user.traffic_now" :max="user.traffic_max" style="background-color:#cfbcff;color:#4f378a;"></progress>
                <div><small>{{user.traffic_now}}/{{user.traffic_max}}M/month</small></div>
                <div style="height:10px;"></div>
                <div style="text-align: center;word-break: break-all;">{{origin+'/import?uuid='+user.uuid}}</div>
            </article>
        </div>
        <div style="height:30px;"></div>
        <div style="padding:0px 16px;">
            <blockquote>
                <h3>Contact</h3>
                <div style="height:30px;"></div>
                <a class="link" :href="settings.contact ? settings.contact.v : ''" target="_blank">{{settings.contact ? settings.contact.v : ''}}</a>
                <div style="height:30px;"></div>
            </blockquote>
        </div>
        <div style="height:30px;"></div>
        <div style="padding:0px 16px;">
            <div v-if="!mobile" style="display: flex;justify-content:space-between;">
                <a target="_blank" class="button" :href="settings.ios_download_url.v" v-if="settings.ios_download_url && settings.ios_download_url.v">
                    <i>phone_iphone</i>
                    <span>iOS</span>
                </a>
                <a target="_blank" class="button" :href="settings.android_download_url.v" v-if="settings.android_download_url && settings.android_download_url.v">
                    <i>phone_android</i>
                    <span>Android</span>
                </a>
                <a target="_blank" class="button" :href="settings.darwin_download_url.v" v-if="settings.darwin_download_url && settings.darwin_download_url.v">
                    <i>desktop_mac</i>
                    <span>macOS</span>
                </a>
                <a target="_blank" class="button" :href="settings.windows_download_url.v" v-if="settings.windows_download_url && settings.windows_download_url.v">
                    <i>desktop_windows</i>
                    <span>Windows</span>
                </a>
                <a target="_blank" class="button" :href="settings.linux_download_url.v" v-if="settings.linux_download_url && settings.linux_download_url.v">
                    <i>computer</i>
                    <span>Linux</span>
                </a>
            </div>
            <div v-if="mobile" style="display: flex;justify-content:space-between;">
                <a target="_blank" class="button" :href="settings.ios_download_url.v" v-if="settings.ios_download_url && settings.ios_download_url.v">
                    <i>phone_iphone</i>
                    <span>iOS</span>
                </a>
                <a target="_blank" class="button" :href="settings.android_download_url.v" v-if="settings.android_download_url && settings.android_download_url.v">
                    <i>phone_android</i>
                    <span>Android</span>
                </a>
            </div>
            <div v-if="mobile" style="height:30px;"></div>
            <div v-if="mobile" style="display: flex;justify-content:space-around;">
                <a target="_blank" class="button" :href="settings.darwin_download_url.v" v-if="settings.darwin_download_url && settings.darwin_download_url.v">
                    <i>desktop_mac</i>
                    <span>macOS</span>
                </a>
                <a target="_blank" class="button" :href="settings.windows_download_url.v" v-if="settings.windows_download_url && settings.windows_download_url.v">
                    <i>desktop_windows</i>
                    <span>Windows</span>
                </a>
                <a target="_blank" class="button" :href="settings.linux_download_url.v" v-if="settings.linux_download_url && settings.linux_download_url.v">
                    <i>computer</i>
                    <span>Linux</span>
                </a>
            </div>
        </div>
        <div style="height:30px;"></div>
        <div style="padding: 0 30px" v-html="readme"></div>
        <div style="height:30px;"></div>
        <div style="padding:0px 16px;">
            <h3>Password</h3>
            <div style="height:30px;"></div>
            <div style="display: flex;">
                <div class="field label border">
                    <input type="text" v-model="password">
                    <label>New Password</label>
                </div>
            </div>
            <div v-if="!ing" style="display: flex;">
                <button class="border" @click="updatepassword">Update</button>
            </div>
            <div v-if="ing" style="display:flex;">
                <progress class="circle"></progress>
            </div>
        </div>
        <div style="height:30px;"></div>
        <div style="padding:0px 16px;">
            <div style="height:30px;"></div>
            <div style="display: flex;">
                <button class="border small-round" @click="signout">Signout</button>
            </div>
        </div>
        <div style="height:30px;"></div>
    </main>
</body>

</html>
